# web application files
/web-app/WEB-INF/classes
  
# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
/target
/out

/*.iml

# default HSQL database files for production mode
/prodDb.*
.idea
