

.neon-shadow-light {
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,166,255,1) !important;
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,166,255,1) !important;
    box-shadow: 0px 0px 1px 1px rgba(0,166,255,1) !important;
}

.ui-button-orange {
    /*background-color: #666;*/

    padding: 15px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(0,166,255,1);

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,166,255,1) !important;
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,166,255,1) !important;
    box-shadow: 0px 0px 15px 0px rgba(0,166,255,1) !important;
}

.ui-button-orange:hover {
    -webkit-box-shadow: inset 0px 0px 34px 0px rgba(0,166,255,1) !important;
    -moz-box-shadow: inset 0px 0px 34px 0px rgba(0,166,255,1) !important;
    box-shadow: inset 0px 0px 34px 0px rgba(0,166,255,1) !important;

    border: 1px solid rgba(0,166,255,1);
}

/** ************* **
 * Div spacing css *
 ** ************* **/
.self-up-separator5 {
    margin-top: 5px !important;
}

.self-up-separator10 {
    margin-top: 10px !important;
}

.self-up-separator15 {
    margin-top: 15px !important;
}

.self-up-separator20 {
    margin-top: 20px !important;
}

.self-down-separator5 {
    margin-bottom: 5px !important;
}

.self-down-separator10 {
    margin-bottom: 10px !important;
}

.self-down-separator15 {
    margin-bottom: 15px !important;
}

.self-down-separator20 {
    margin-bottom: 20px !important;
}

.spacer5 {
    margin-top: 5px;
}

.spacer10 {
    margin-top: 10px;
}

.spacer15 {
    margin-top: 15px;
}

.spacer20 {
    margin-top: 20px;
}

.full-line-black {
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    margin-bottom: 5px;

    -webkit-box-shadow: 1px 22px 30px -10px rgba(255,255,255,1);
    -moz-box-shadow: 1px 22px 30px -10px rgba(255,255,255,1);
    box-shadow: 1px 22px 30px -10px rgba(255,255,255,1);
}

.full-line {
    border-bottom: 1px solid white;
    padding-top: 5px;
    margin-bottom: 5px;

    -webkit-box-shadow: 1px 22px 30px -10px rgba(255,255,255,1);
    -moz-box-shadow: 1px 22px 30px -10px rgba(255,255,255,1);
    box-shadow: 1px 22px 30px -10px rgba(255,255,255,1);
}

/** ***************** **
 * Div spacing css end *
 ** ***************** **/


/** ***************** **
 * Grouping object css *
 ** ***************** **/
.info-panel {
    border-bottom: 1px solid dodgerblue;
    border-left:  1px solid dodgerblue;
    border-right: 1px solid dodgerblue;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    -webkit-box-shadow: inset 0px 15px 15px -10px rgba(2, 149, 247, 0.75);
    -moz-box-shadow:    inset 0px 15px 15px -10px rgba(2, 149, 247, 0.75);
    box-shadow:         inset 0px 15px 15px -10px rgba(2, 149, 247, 0.75);

    padding-top: 10px !important;

    margin-left: 30px !important;
    margin-right: 30px !important;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.inside-anchor-with-details h1 h2 h3 h4 h5 h6 {
    color: darkorange !important;
}

.info-panel > h1 h2 h3 h4 h5 {
    color: darkorange !important;
}

div.default-informational {
    text-align: center;
}

div.default-informational p {
    text-align: justify;
}

div.default-informational ul {
    margin: 20px;
    text-align: left;

    font-size: 10px;
}

div.default-informational h1,
div.default-informational h2,
div.default-informational h3,
div.default-informational h4,
div.default-informational h5
{
    color: darkorange !important;
    text-shadow: 0px 5px 5px rgba(0,0,0,1); /* 50% white from bottom */
}

div.default-informational ul {
    list-style: none;
}

.header-title {
    color: darkorange !important;
    text-shadow: 0px 5px 5px rgba(0,0,0,1); /* 50% white from bottom */
    width: 100%;
    text-align: center
}

input.field-error {
    -webkit-box-shadow: 0px 0px 1px 3px rgba(255,0,0,1) !important;
    -moz-box-shadow: 0px 0px 1px 3px rgba(255,0,0,1) !important;
    box-shadow: 0px 0px 1px 3px rgba(255,0,0,1) !important;
}

div.field-error {
    -webkit-box-shadow: 0px 0px 1px 3px rgba(255,0,0,1) !important;
    -moz-box-shadow: 0px 0px 1px 3px rgba(255,0,0,1) !important;
    box-shadow: 0px 0px 1px 3px rgba(255,0,0,1) !important;
}

li.field-error {
    -webkit-box-shadow: 0px 0px 1px 3px rgba(255,0,0,1) !important;
    -moz-box-shadow: 0px 0px 1px 3px rgba(255,0,0,1) !important;
    box-shadow: 0px 0px 1px 3px rgba(255,0,0,1) !important;
}

div.error-list {
    -webkit-box-shadow: 0px 0px 1px 3px darkorange !important;
    -moz-box-shadow: 0px 0px 1px 3px darkorange !important;
    box-shadow: 0px 0px 1px 3px darkorange !important;
}
/** ********************* **
 * Grouping object css end *
 ** ********************* **/